body {
  background-image: linear-gradient(
      115deg,
      rgba(245, 40, 145, 0.8),
      rgba(19, 117, 230, 0.7)
    ),
    url("https://images.unsplash.com/photo-1594322827548-aa5f01a642c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2535&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.index-p {
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.name {
  padding-top: 0.5em;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  letter-spacing: 0.05em;
  font-weight: 700;
}

/* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca427f 16.666%,
    #e1419c 16.666%,
    #e1419c 33.333%,
    #f1c343 33.333%,
    #f1c343 50%,
    #60988c 50%,
    #60988c 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.icons {
  font-size: 3em;
  display: flex;
  letter-spacing: 1em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icons a {
  color: #212529;
}

.icons a:hover {
  opacity: 0.5;
}

.code {
  font-size: 0.8em;
  background-color: #212529;
  opacity: 0.8;
  color: white;
  padding: 1em;
  border-radius: 0.8em;
  line-height: 1.5em;
  max-width: fit-content;
  max-height: 400px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.red {
  color: #ff7b72;
}
.orange {
  color: #ec9a52;
}
.purple {
  color: #d2a8fe;
}
.blue {
  color: #78c0ff;
}
.ltblue {
  color: #a1d1f9;
}

@media (max-width: 480px) {
  .index-p {
    font-size: 3.5em;
  }
  .icons {
    letter-spacing: 0;
    justify-content: space-around;
  }
}
